
<section>
  <h1>Categories</h1>
  <ul id="categories-list">
      {% capture categories %}
        {% for cat in site.categories %}
            {% comment %} hash.item[0] == key {% endcomment %}
            {% comment %} 'split' won't work so I must modify 
                          category_links filter to add link
            {% endcomment %}

            <li class="category">
                  {{ cat[0] | category_links }}
            </li>
        {% endfor %}
      {% endcapture %}
      {{ categories }}

  </ul>
</section>
